body{}
section{background:#fff; padding:50px; }
   .dp img{ }
   .watch{ -webkit-display:flex;
                    display:flex;
                   -webkit-justify-content:center;
                   justify-content:center;
                   flex-direction:column;
                   align-items:center;
                  
                   
   }
   .watch-div{width:50%; height:auto;}
   h2.txt{font-size:60px; color:black;
                 font-weight:900;
                 letter-spacing:10px;
                 font-family: sans-serif;}
.player{background:#EBDDE2; border-radius:10px; margin-bottom: 30px; padding:50px 50px 70px 50px;}
.set{border:1px black solid; border-radius:10px; padding:20px 0px 20px 0px; }
.set{padding:20px 0px 20px 0px;}
.player1-view, .player2-view{background:#C19A6B; border-radius:10px }
.player label, .player input{width: }
